<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
  <Appenders>
    <Console name="Console" target="SYSTEM_OUT">
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} %X - %msg%n"/>
    </Console>
    <Socket name="Gelf" protocol="udp" host="192.168.99.100" port="12201">
      <GelfLayout host="ui.urls" compressionType="GZIP" compressionThreshold="1"/>
    </Socket>
  </Appenders>
  <Loggers>
    <Root level="INFO">
      <AppenderRef ref="Console"/>
    </Root>
    <Logger name="com.innoq" level="INFO">
      <AppenderRef ref="Gelf"/>
    </Logger>
  </Loggers>
</Configuration>